VITE_API1=https://www.swiggy.com/dapi/restaurants/list/v5?lat=28.611892&lng=77.3762261&is-seo-homepage-enabled=true&page_type=DESKTOP_WEB_LISTING
VITE_API2=111
VITE_IMAGE_PREFIX=https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660
VITE_RESTAURANT_INFO=https://www.swiggy.com/dapi/menu/pl?page-type=REGULAR_MENU&complete-menu=true&lat=28.611892&lng=77.3762261&restaurantId=RESTAURANT_ID&catalog_qa=undefined&submitAction=ENTER
